@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-discord-blue {
  background-color: #5865F2;
}

.bg-discord-blue-dark {
  background-color: #4752C4;
}

@keyframes gradient-rotate {
  0% {
    background: linear-gradient(45deg, #ec4899, #8b5cf6);
  }

  25% {
    background: linear-gradient(135deg, #8b5cf6, #ec4899);
  }

  50% {
    background: linear-gradient(225deg, #ec4899, #8b5cf6);
  }

  75% {
    background: linear-gradient(315deg, #8b5cf6, #ec4899);
  }

  100% {
    background: linear-gradient(45deg, #ec4899, #8b5cf6);
  }
}

.animate-gradient-rotate {
  animation: gradient-rotate 15s ease infinite;
  background-size: 200% 200%;
}